@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700');

@mainColor: #333;
@textColor: #333;
@complementColor: #A22412;

@pageWidth: 1200px;
@svgColor: #929292;
@svgHoverColor: #157EFB;


// generic elements
.btn {
  .btn;
}
.btn-vPrimary {
  .colorizeBtn(@successColor);
}
.btn-vEdit {
  .invertColorizedBtn(@hintColor);
  font-size: 1rem;
  margin-left: 1em;
  .pos-centerY();
}
.btn-vDanger {
  .invertColorizedBtn(@failColor);
}

.msg {
  .msg;
}
.msg-vSuccess {
  .colorizeMsg(@successColor);
}
.msg-vError {
  .colorizeMsg(@failColor);
}

.mq-min(@breakMedium, {
  .label {
    min-width: 300px;
  }
});

.grid {
  .grid(@gridSpace, 12);
}

.form-info {
  font-size: .8em;
  margin-bottom: 20px;
  display: block;
  margin-top: -20px;
  margin-left: 15px;
}


.inputGroup:not(.inputGroup-vBlock) .textarea.textarea-vBlock,
.textarea.textarea-vBlock {width: 100%;}

/*
 * upload file input
 * found on: https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
 */
.js .file-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload-label {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  color: #d3394c;
  border: 1px solid #d3394c;
  background-color: #f1e5e6;
  padding: 0;

  span {
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
  }

  svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
  }

  strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: block;

    .mq-min(@breakMedium, {
      display: inline-block;
      float: right;
      });
  }

  span, strong {padding: 0.625rem 1.25rem;}

  .no-js & {display: none;}
}


.file-upload-input:focus + .file-upload-label,
.file-upload-input.has-focus + .file-upload-label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.file-upload-input:focus + .file-upload-label,
.file-upload-input.has-focus + .file-upload-label,
.file-upload-input + .file-upload-label:hover {
  border-color: #722040;

  strong {background-color: #722040;}
}



// Project Styling
.headline {border-bottom: 1px solid #666; position: relative;}

a[href] {color: lighten(@complementColor, 10%);}
a[href]:hover {color: lighten(@complementColor, 20%);}

.bar {
  .bar;
  background: #000;
  z-index: 999;
  transition: .3s ease-in-out background;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.4);

  .mq-min(@breakMedium, {
    display: block;
    top: 0;
    width: 100vw;
    box-shadow: none;
  });

  .barGroup.barGroup-vNav .bar-link {
    border-bottom: 0;
    color: #888;
    border-top: 2px solid transparent;
    transition-duration: 0.2s;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;

    .mq-min(@breakMedium, {
      padding: 25px 15px;
      text-align: left;
    });

    &.is-active,
    &:hover {
      color: #fff;
      background: unset;
      border-bottom: 0;
      border-top-color: lighten(@complementColor,10%);
    }
  }
}


// Hamburger Menu
.nav-trigger {
  display: none;

  &:checked ~ .bar {
    display: block;
  }
}

.nav-trigger-btn {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 99;
  height: 50px;
  cursor: pointer;
  background: #000;
  color: #fff;
  cursor: pointer;

  .icon-burger {
    .pos-centerX;
    height: 40px;
    width: 40px;
    top: 5px;
    display: block;
    z-index: 99;
  }

  .mq-min(@breakMedium, {display:none;});
}

.bind {
  background: #fff;
  top: 50px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.1);

  .mq-min(@breakMedium, {
    top: 0;
  });
}

.sidebar-vPanel {

}

/* MENU PARTS */
// Prefixes and objects:
// .menu-
@menuBackgroundColor: #fafafa;
@menuActiveColor: @mainColor;
@menuPrimaryColor: @complementColor;
@borderRadiusMenu: 4px;

.menu-list {
  list-style: none;
  .shd; // default shadow class.
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  border-radius: @borderRadiusMenu;
  .mq-min(@breakMedium, {font-size: .9rem;})
}

a.menu-link {
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  color: contrast(@menuBackgroundColor, @textColor, @invTextColor);
  background-color: @menuBackgroundColor;
  border: 1px solid darken(@menuBackgroundColor,15%);
  border-top-width: 0;
  transition: all .3s ease;
  width: 100%;
  height: 100%;

  .menu-item:first-of-type & {
    border-top-width: 1px;
    border-radius: @borderRadiusMenu @borderRadiusMenu 0 0;
  }
  .menu-item:last-of-type & {
    border-radius: 0 0 @borderRadiusMenu @borderRadiusMenu;
  }
  &:hover {
    background-color: lighten(@menuBackgroundColor,5%);
  }
  &.is-primary {
    color: contrast(@menuPrimaryColor, @textColor, @invTextColor);
    background-color: @menuPrimaryColor;
  }
  &.is-active {
    /*color: contrast(@menuActiveColor, @textColor, @invTextColor);
    background-color: @menuActiveColor;*/
    border-left: 5px solid red;
    padding-left: 16px;
    font-weight: bold;
  }
  &.is-primary:hover,
  &.is-active:hover {
   /* background-color: lighten(@menuActiveColor,5%);*/
  }
  &.is-busy,
  &.is-loading,
  &[aria-busy=true] {
    cursor: progress;
    & .single-spinner {
      margin-top: 0;
    }
  }
}

.mainPanel {
  margin: 1em 0;
}



.actionbar {
  margin: 0 0 1em;

  .select, .btn {
    float: left;
    margin: 0;
  }
  .btn {margin-left: 5px;}
  .select {width: 250px;}
  .select:not(:first-child) {margin-left: 10px;}
}

.data-table {
  width: 100%;
  border-collapse: collapse;

  tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  th, td {
    padding: 5px 10px;
  }
  .table-head td,
  .table-head th {
    font-weight: 200;
    border-bottom: 1px solid #999;
  }

  .header {
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    &:not(.headerSortDown):not(.headerSortUp):hover {
      background-image: url(../img/table-bg.gif);
    }
  }
  .headerSortUp {
    background-image: url(../img/table-asc.gif);
  }
  .headerSortDown {
    background-image: url(../img/table-desc.gif);
  }

  .column-select {width: 5%;}
  .column-id {width: 5%;}
  .column-date {width: 12%;}
  .column-actions {width: 10%;position: relative;}

  .column-select input {margin: 0;}
  .view-btn {
    display: block;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
  .remove-btn {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    svg {
      width: 100%;
      height: 100%;
      fill: @svgColor;
    }
    &:hover svg {
      fill: @svgHoverColor;
    }
  }
}

.amount-entries {
  float: right;
  font-size: .9em;
  color: lighten(@textColor, 20%);
}

a.btn-new,
a.btn-new:visited,
a.btn-new:link,
.btn-new {
  border: 1px solid #999;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .1);
  display: inline-block;
  font-size: .9rem;
  margin-left: 1em;
  padding: 5px 8px;
  text-decoration: none;
  transition: ease border .4s, ease background .2s;
  .pos-centerY();
  &:focus,
  &:hover {
    background: #2580a2;
    border-color: #244394;
    color: #e5e5e5;
  }
}
